@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web.Controllers;
@using Umbraco.Web.Models;

@{ 
    var root = CurrentPage.AncestorOrSelf(1); // level 1 = top level
    var childrens = root.Children.Where("Visible");
    var projectDropDownCompleted = CurrentPage.Site().FirstChild("projectsMain").Children.Where("Visible && projectItemStatus.Contains(\"Completed\")").OrderBy("CreateDate desc");
}

<ul class="menu">
	<li class="@(CurrentPage.Name == root.Name ? "current" : null)">
		<a href="/">@root.Name</a>
	</li>
		
    @foreach (var item in childrens)
    {
        if (item.Name == "Login")
        {
            if (!Members.GetCurrentLoginStatus().IsLoggedIn)
            {
                <li class="@(item.IsAncestorOrSelf(CurrentPage) ? "current" : null)">
                    <a href="@item.Url">@item.Name</a>
                </li>
            }
            else
            {
                <li>
                    @using (Html.BeginUmbracoForm<UmbLoginStatusController>("HandleLogout"))
                    {
                        <button>Logout</button>
                        var logoutModel = new PostRedirectModel();
                        logoutModel.RedirectUrl = "/";
                        @Html.HiddenFor(m => logoutModel.RedirectUrl)
                    }
                </li>

            }
        }
        else if (item.Name == "Projects")
        {
            <li class="@(item.IsAncestorOrSelf(CurrentPage) ? "current" : null)">
                <a href="@item.Url">@item.Name</a>
                <span class="caret"></span>
                <ul class="submenu">
                    @foreach(var project in projectDropDownCompleted)
                    {
                        <li class="@(project.IsAncestorOrSelf(CurrentPage) ? "current" : null)">
                            <a href="@project.Url">@project.Name</a>
                        </li>
                    }
                </ul>
            </li>
        }
        else
        {
            <li class="@(item.IsAncestorOrSelf(CurrentPage) ? "current" : null)">
                <a href="@item.Url">@item.Name</a>
            </li>
        }
    }
</ul>